/*----- Structure -----*/
body{
  background-color : #acadbc;
  text-align : center;
  margin : 0;
}

header, footer{
  background-color : #297373;
  height : 155px;
  text-align : center;
}

li{
  list-style-position: inside;
  text-align : left;
}

/*----- Horizontal Rulers -----*/
hr{
  border-bottom : 20px solid #f79256;
  width: 75%;
  border-radius : 15px;
  margin-left : auto;
  margin-right : auto;
}
  
/*----- Typography -----*/
h1{
  font-size : 24px;
}

h1, h3{
  font-family : cursive;
  color : #f79256;
  font-weight : bold;
  text-shadow: 1px 1px 2px black;
}

h3{
  font-size : 16px;
}

h2, p{
  font-family : "Trebuchet MS", "Lucida Sans", arial, sans-serif;
}

h2{
  font-size : 36px;
  font-weight : bold;
  color : #297373;
  text-shadow : 1px 1px 2px black;
}

p{
  font-size : 20px;
}

a:link    { color: #4A306D;  }/*----- Cyber Grape -----*/
a:visited { color: #994636;   }/*----- Chestnut -----*/
a:hover   { color: #BA1200; }/*----- International Orange Engineering -----*/
a:active  { color: #fde74c;  }/*----- Minion Yellow -----*/
